<!DOCTYPE html>
<html>
<head>
    <title>Overwatch Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <ul>
        <li><a href="#home" class="nav-links">Home</a></li>
        <li><a href="#news" class="nav-links">Table</a></li>
        <li><a href="#contact" class="nav-links">Top</a></li>
        <li><a href="#about" class="nav-links">Blah blah blah</a></li>
    </ul>

    <div class="container mt-5">
        <h1 class="mb-4 text-center">Hero Highlights</h1>
        <form id="filterForm" method="get" class="row g-3 p-4 border rounded shadow bg-light">
            <div class="col-md-3">
                <label for="hero" class="form-label">Hero:</label>
                <select id="hero" name="hero" class="form-select">
                    {% for h in heroes %}
                    <option value="{{ h }}">{{ h }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <label for="season" class="form-label">Season:</label>
                <select id="season" name="season" class="form-select">
                    {% for s in seasons %}
                    <option value="{{ s }}">{{ s }}</option>
                    {% endfor %}
                </select>
                <div class="col-12 text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-lg">Show</button>
                </div>   
            </div>

            <div class="col-md-3">
                <label for="stat" class="form-label">Stat:</label>
                <select id="stat" name="stat" class="form-select">
                    {% for st in stats %}
                    <option value="{{ st }}">{{ st }}</option>
                    {% endfor %}
                </select>     
            </div>

            <div class="col-md-3 text-center">
                <img id="heroImage" src="" alt="Hero Image" class="img-fluid" style="border-radius:10px; margin-bottom:20px;">
                <div id="result" style="font-weight:bold;"></div>
            </div>

        </form>


        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <canvas id="statChart" width="400" height="200"></canvas>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/filter.js"></script>

</body>
</html>
