body {
    background-color: rgb(64,72,91,255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#h1welcome {
   color: white; 
   display: inline-block;
   margin-left: 50%;
   transform: translateX(-50%);
   text-shadow: 2px 2px #000000;
}

#h2toc{
    color: white; 
    text-decoration: underline;
}

#h2exp{
    color:white;
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
}

p{
    color: white;
}

#ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

#ul-nav a.active {
    border-bottom: 3px solid red;
  }

#ul-nav a.active:hover {
    border-bottom: 3px solid red;
    border-radius: 15px;
  }

#nav-next{
    display: inline;
    float: left;
}

#nav-next:hover {
    background-color: white;
    border-radius: 15px;
}

#ul-a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#ul-a:hover{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: inherit;
    font-weight: bold;
    
}

#tableauactive{
    border-bottom: 3px solid red;
}

.dropdown .dropbtn:hover {
    background-color: white;
    color: black;
    border-radius: 15px 15px 0px 0px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 2px 2px 10px black;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all .35s ease-in-out;

}

.dropdown-content a:hover {
    transform: scale(1.2);
    background-color: #333;
    color: white;
    border-radius: 15px;
    transition: all .35s ease-in-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


#sfpic{
    float: right;
    padding: 15px;
    
}

table {
    width: 100%;
    border-collapse: separate;
    padding: 0;
    border-radius: 8px;

}
  
th, td {
    text-align: left;
    padding: 5px;
    border-radius: 8px;

}
  
tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #bf7171}
  
th {
    background-color: #333;
    color: white;
}

#about-info{
    padding: 0;
    margin: auto;
    width: 90%;
}

#logos{   
    margin-top: 30px;
    margin-left: 30px; 
    margin-right: 30px;
    text-align: justify;
}

#logos a {
    vertical-align: top;
    display: inline-block;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.about-pics{
    width: 200px;
    height: 200px;
    transition: all .35s ease-in-out;
    border-radius: 52px;

}

.about-pics:hover{
    transform: scale(1.2);
    transition: all .35s ease-in-out;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

#hr1{
    border: 1px solid white;
}

.schools{
    color: #f2f2f2;
    font-size: 17px;
}

#schools{
    color: #f2f2f2;
}

#svgsm{
    display: block;
    margin: auto;
    padding-top: 5%;
    stroke-width: 5px;
}

#myCanvas {
    position: absolute;
    top: 30px;;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;    
}

.h2d3{
    color: #f2f2f2;
}

#d3-container{
    outline: 3px solid;
    border-radius: 15px;
    color: white;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}
  
.pageLinks{
    color: white;
    transition: all .35s ease-in-out;
    text-decoration: underline rgba(255, 0, 0, 0);
    padding: 1px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.pageLinks:hover{
    color: white;
    text-decoration: underline rgba(255, 0, 0);
    font-size: x-large;
    transition: all .35s ease-in-out;
    border: 2px solid white;
    border-radius: 5px;
}

