<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scott Frazier - Experience</title>
        <link rel="stylesheet" href="/visuals/style.css">
        <link rel="icon" type="image/x-icon" href="/Resources/favicon.ico">
    </head>
    <body>
        <ul id="ul-nav">
            <li id="nav-next"><a id = "ul-a" href="index.html">Home</a></li>
            <li id="nav-next"><a id = "ul-a" href="experience.html" class="active">Experience</a></li>
            <li id="nav-next"><a id = "ul-a" href="P5.html">p5</a></li>
            <li id="nav-next"><a id = "ul-a" href="JS.html">JavaScript</a></li>
            <li id="nav-next"><a id = "ul-a" href="D3.html">D3</a></li>
            <li id="nav-next"><a id = "ul-a" href="D3Vizz.html">D3Visuals</a></li>
            <div class="dropdown">
                <button class="dropbtn">Tableau
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="tableau.html">Global Sales</a>
                <a href="tabdash.html">Dashboard</a>
                <a href="extras.html">Extras</a>
                </div>
            </div>            <li id="nav-next"><a id = "ul-a" href="about.html">About</a></li>
        </ul>
        <h2 id="h2exp">Here is a table showing some of the many tools that I have used throughout the last two years!</h2>
        <hr id="hr1">

        <table>
            <thead>
                <tr>
                    <th><b>Technology/ Concept:</b></th>
                    <th>Python</th>
                    <th>SQL</th>
                    <th>JavaScript</th>
                    <th>Pandas</th>
                    <th>Matplotlib</th>
                    <th>HTML/ CSS</th>
                    <th>Tableau</th>
                    <th>Web Data (API Requests)</th>
                    <th>ETL</th>
                    <th>D3.js</th>
                    <th>Geomapping (Leaflet.js)</th>
                    <th>R</th>
                    <th>Machine Learning</th>
                    <!-- <th>Big Data</th>
                    <th>Hadoop & Spark</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Learning Since:</b></td>
                    <td>10/2020</td>
                    <td>11/2020</td>
                    <td>01/2021</td>
                    <td>10/2020</td>
                    <td>10/2020</td>
                    <td>05/2020</td>
                    <td>02/2021</td>
                    <td>10/2020</td>   
                    <td>10/2020</td>   
                    <td>01/2020</td>   
                    <td>01/2020</td>
                    <td>02/2021</td>
                    <td>03/2021</td>
                    <!-- <td>03/2021</td>
                    <td>03/2021</td> -->
                </tr>
                <tr>
                    <td><b>Proficiency Level:</b></td>
                    <td>Upper-Intermediate</td>
                    <td>Upper-Intermediate</td>
                    <td>Upper-Intermediate</td>
                    <td>Upper-Intermediate</td>
                    <td>Upper-Intermediate</td>
                    <td>Intermediate</td>
                    <td>Intermediate</td>
                    <td>Intermediate</td>
                    <td>Intermediate</td>
                    <td>Intermediate</td>
                    <td>Intermediate</td>
                    <td>Intermediate</td>
                    <td>Intermediate</td>
                    <!-- <td>Intermediate</td>
                    <td>Intermediate</td> -->
                </tr>
            </tbody>
        </table>
        <h2 id="schools"><u>Degrees/ Certifications</u></h2>
        <ul>
            <li class="schools">MS in Data Science - SMU - 2023</li>
            <li class="schools">Data Science Certification - SMU - 2021</li>
            <li class="schools">BA in Criminology - UTD - 2020</li>
        </ul>
          
    </body>
</html>