<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scott Frazier - Home</title>
        <link rel="stylesheet" href="/Web/visuals/style.css">
        <link rel="icon" type="image/x-icon" href="Resources/favicon.ico">
    </head>
    <body>
        <ul id="ul-nav">
            <li id="nav-next"><a id = "ul-a" href="index.html" class="active">Home</a></li>
            <li id="nav-next"><a id = "ul-a" href="experience.html">Experience</a></li>
            <li id="nav-next"><a id = "ul-a" href="P5.html">p5</a></li>
            <li id="nav-next"><a id = "ul-a" href="JS.html">JavaScript</a></li>
            <li id="nav-next"><a id = "ul-a" href="D3.html">D3</a></li>
            <li id="nav-next"><a id = "ul-a" href="D3Vizz.html">D3Visuals</a></li>
            <div class="dropdown">
                <button class="dropbtn">Tableau
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="tableau.html">Global Sales</a>
                <a href="tabdash.html">Dashboard</a>
                <a href="extras.html">Extras</a>
                </div>
            </div>
            <li id="nav-next"><a id = "ul-a" href="about.html">About</a></li>
        </ul>
        <h2 id="h2welcome">Welcome!</h2><img id="sfpic" src="/Web/Resources/cropped.png">
        <p>This webpage was created to showcase the many tools that I have learned over the years relating to data science. Please feel free to browse around and enjoy the webpage! Thank you for visiting!</p>
        <hr id="hr1">
        <p>The experience tab is where you may view some of the tools I have been using over the years, as well as what I feel my proficiency is in each tool, and how long I have been using them!</p>
        <p>The about tab is where you may read a bit about me, as well as links to my social media pages!</p>
       
    </body>
</html>