<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scott Frazier - p5</title>
        <script src="/js/p5.js"></script>
        <link rel="stylesheet" href="/visuals/style.css">
        <link rel="icon" type="image/x-icon" href="/Resources/favicon.ico">
    </head>
    <body>
        <ul id="ul-nav">
            <li id="nav-next"><a id = "ul-a" href="index.html">Home</a></li>
            <li id="nav-next"><a id = "ul-a" href="experience.html">Experience</a></li>
            <li id="nav-next"><a id = "ul-a" href="P5.html" class="active">p5</a></li>
            <li id="nav-next"><a id = "ul-a" href="JS.html">JavaScript</a></li>
            <li id="nav-next"><a id = "ul-a" href="D3.html">D3</a></li>
            <li id="nav-next"><a id = "ul-a" href="D3Vizz.html">D3Visuals</a></li>
            <div class="dropdown">
                <button class="dropbtn">Tableau
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="tableau.html">Global Sales</a>
                <a href="tabdash.html">Dashboard</a>
                <a href="extras.html">Extras</a>
                </div>
            </div>
            <li id="nav-next"><a id = "ul-a" href="about.html">About</a></li>
        </ul>
        <br>

        <div id="myCanvas2">
        <script src="/js/sketch.js"></script>

        </div>
    </body>
</html>