<!DOCTYPE html>
<html lang="en" id="not-homepage">

<head>
    <meta charset="utf-8">
    <title>March Madness</title>
    <!--------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="static/css/about.css">
    <!--------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>

</head>

<body id="not-homepage">


    <section>
        <div class="card ">
            <div class="content ">
                <div class="imgBx"><img src="static\images\scott.jpg"></div>
                <div class="contentBx">
                    <h3>Scott Frazier<br><span>A graduate of UTD's criminology program, Scott Frazier is looking to venture into a new field of study/ work in data science. He has hopes of obtaining a Master's in data science in the near future to achieve his goal of breaking into the booming industry, as well as helping teach others who want to learn data science. He also loves playing with Oliver the goldendoodle, and eating tacos.</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li>
                    <a href="https://github.com/scottfrazier97" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        </div>
    </section>

    <!--TILTING EFFECT-->

    <script type=" text/javascript " src="static\js\vanilla-tilt.js ">
    </script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card "), {
            max: 25,
            speed: 250
        });
    </script>
</body>

</html>