<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <!--------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="static\css\style.css">
    <!--------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>
    <script type="text/javascript" src="static\js\logic.js"></script>

</head>

<body>

    <section>
        <div class="shadow"></div>

        <div id="background-wrap">
            <div class="x1">
                <div class="cloud">
                </div>
                <h1 style="color: #ffffff; text-align: center; font-size: 110px">Welcome</h1>

            </div>

            <div class=" x2 ">
                <div class="cloud "></div>
                <h1 style="color: #ffffff; text-align: center; font-size: 110px; ">to my</h1>
            </div>

            <div class="x3 ">
                <div class="cloud "></div>
                <h1 style="color: #ffffff; text-align: center; font-size: 110px ">personal</h1>
            </div>

            <div class="x4 ">
                <div class="cloud "></div>
                <h1 style="color: #ffffff; text-align: center; font-size: 110px ">webpage!</h1>
            </div>

            <div class="x5 ">
                <div class="cloud "></div>
            </div>
        </div>

        <div class="wave" id="wave1" style="--i:1;"></div>
        <div class="wave" id="wave2" style="--i:2;"></div>
        <div class="wave" id="wave3" style=" --i:3;"></div>
        <div class="wave " id="wave4" style="--i:4;"></div>
    </section>

    <div class="row ">
        <div class="col-md-10 ">
            <div class="sec ">
                <h2>🌴About Me🌴</h2>
                <hr id="hr1">
                <p>Having graduated from the University of Texas at Dallas's Criminology program in May 2020, Scott Frazier has garnered many skills that revolve around the analysis, and manipulation of data. With the job market becoming very competitive after the COVID-19 outbreak, 
                    Scott Frazier decided it was time to acquire marketable skills to broaden his potential job opportunities. After doing some research, he decided to focus on an entirely new skill-set, which ultimately ended up being data science. 
                    In September of 2020, he enrolled in the Data Science Bootcamp at Southern Methodist University; where he learned how to gather, manipulate, and present large quantities of data. To accomplish this, he learned how to use a variety of different technologies and technologies that are used heavily in the data science industry today. See the table below to get a quick glimpse at the tools that Scott uses!<br><br>
                    <br>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th><b>Technology/ Concept:</b></th>
                                <th>Python *</th>
                                <th>SQL *</th>
                                <th>JavaScript *</th>
                                <th>Pandas</th>
                                <th>Matplotlib</th>
                                <th>HTML/ CSS</th>
                                <th>Tableau</th>
                                <th></th>
                                <th>SQL</th>
                                <th>SQL</th>
                                <th>SQL</th>
                                <th>SQL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Learning since:</b></td>
                                <td>10/2020</td>
                                <td>11/2020</td>
                                <td>01/2021</td>
                                <td>10/2020</td>
                                <td>10/2020</td>
                                <td>05/2020</td>
                                <td>02/2021</td>
                                <td>10/2020</td>   
                                <td>10/2020</td>
                                <td>10/2020</td>
                            </tr>
                            <tr class="active-row">
                                <td><b>Proficiency Level:</b></td>
                                <td>Upper-Intermediate</td>
                                <td>Upper-Intermediate</td>
                                <td>Upper-Intermediate</td>
                                <td>Upper-Intermediate</td>
                                <td>Upper-Intermediate</td>
                                <td>Intermediate</td>
                                <td>Intermediate</td>
                                <td>Intermediate</td>
                                <td>Intermediate</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>* = Preferred primary programming languages</p>

                    <br><br></p>
            </div>
        </div>
        <div class="col-md-2 ">
            <div style=" background-size: cover; height: 455px; width: 275px; margin: auto; padding-bottom: 50%; ">
                <img src="static\images\scott.jpg " style="height: 455px; width: 275px; border-radius: 2%; border: 5px solid #3586ff; ">
            </div>
        </div>
    </div>

    <script>
        let wave1 = document.getElementById('wave1');
        let wave2 = document.getElementById('wave2');
        let wave3 = document.getElementById('wave3');
        let wave4 = document.getElementById('wave4');

        window.addEventListener('scroll', function() {
            let value = window.scrollY;

            wave1.style.backgroundPositionX = 400 + value * 4 + 'px'
            wave2.style.backgroundPositionX = 300 + value * -4 + 'px'
            wave3.style.backgroundPositionX = 200 + value * 2 + 'px'
            wave4.style.backgroundPositionX = 100 + value * -2 + 'px'
        })
    </script>
</body>

</html>